html {
    font-size: 14px;
    height: 100%;
}



textarea {
    width: 50%%;
    background: #F7F7F7;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom:10px;

}

/* From Uiverse.io by Yaya12085 */
.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

    .custum-file-upload .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .custum-file-upload .icon svg {
            height: 80px;
            fill: rgba(75, 85, 99, 1);
        }

    .custum-file-upload .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .custum-file-upload .text span {
            font-weight: 400;
            color: rgba(75, 85, 99, 1);
        }

    .custum-file-upload input {
        display: none;
    }

.dash {
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 16px;
    padding: 32px 24px 24px; /* Optional: padding inside the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: shadow effect */
    box-sizing: border-box;
}

.form-box {
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}


.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

    .form-section a {
        font-weight: bold;
        color: #0066ff;
        transition: color .3s ease;
    }

        .form-section a:hover {
            color: #005ce6;
            text-decoration: underline;
        }

h1 {
    margin-bottom: 10px; /* Adds space between the heading and the buttons */
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* From Uiverse.io by gharsh11032000 */
.card {
    width: 350px;
    height: 250px;
    background-image: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    border-radius: 10px;
    display: flex;
    padding: 10px 30px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heading {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.para {
    text-align: center;
    color: #ffffff;
    opacity: 0.7;
    line-height: 1.4;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.card:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

.card .card-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 16px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    border: none;
    opacity: 0;
    scale: 0;
    transform-origin: 0 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card-btn {
    opacity: 1;
    scale: 1;
}

.card .card-btn:hover {
    box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.card .card-btn:active {
    scale: 0.95;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, #f89b2980 0%, #ff0f7b80 100% );
    transition: transform 0.5s ease;
}

.card:hover .overlay::after {
    transform: translate(-50%, -50%) scale(2);
}


.container {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    height: 100vh;
}


/* From Uiverse.io by Codecite */
.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 24px;
    padding: 10px 16px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
}

    .btn:hover {
        transform: translateY(3px);
        box-shadow: none;
    }

    .btn:active {
        opacity: 0.5;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
