@{
    ViewData["Title"] = "Home Page";
}


<div id="welcome">
    <h1 class="display-4">Welcome to CMCS</h1>
    <br>

    <a href="@Url.Action("DashBoard", "Home")" class="btn">I am a lecturer</a>
    <a href="@Url.Action("ManagerDash", "Home")" class="btn">I am an academic manager</a>

</div>
