@page
@model _10269809_PROG6212_POE.Views.Home.ManagerDashModel
@{
    ViewBag.Title = "ManagerDashboard";
}

<div id="welcome">
    <div class="dash">
        <form class="form">
            <span class="title">Claims</span>
            <span class="subtitle">Select a claim to view contents</span>
            <div class="file-explorer">
                <div class="file-item">
                    <img src="path/to/icon1.png" alt="File Icon">
                    <span class="file-name">File 1</span>
                </div>
                <div class="file-item">
                    <img src="path/to/icon2.png" alt="File Icon">
                    <span class="file-name">File 2</span>
                </div>
                <div class="file-item">
                    <img src="path/to/icon3.png" alt="File Icon">
                    <span class="file-name">File 3</span>
                </div>
                <div class="file-item">
                    <img src="path/to/icon4.png" alt="File Icon">
                    <span class="file-name">File 4</span>
                </div>
            </div>
        </form>
    </div>
</div>
