@page
@model _10269809_PROG6212_POE.Views.Home.SignUpModel
@{
    ViewBag.Title = "Sign Up Page";
}

<div id="welcome">
    <div class="form-box">
        <form class="form">
            <span class="title">Sign up</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
                <input type="text" class="input" placeholder="Full Name">
                <input type="email" class="input" placeholder="Email">
                <input type="password" class="input" placeholder="Password">
            </div>
            <a href="@Url.Action("DashBoard", "Home")" class="btn">Login</a>
        </form>
        <div class="form-section">
            <p>Have an account? <a href=" @Url.Action("LogIn", "Home")">Log in</a> </p>
        </div>
    </div>
</div>